html
    head
        title="Express Intro"
        link(href="/styles/styles.css",type="text/css",rel="stylesheet")
    body
        div()
            ul()
                div(class="navitem")
                    a(href="/" class="tag active")="Home"
                div(class="navitem")    
                    a(href="/books" class="tag")="Books"
                div(class="navitem")
                    a(href="/food" class="tag")="Food"
                div(class="navitem")
                    a(href="/accessories" class="tag")="Accesories"
                div(class="navitem")    
                    a(href="/orders" class="tag")="My Orders"
        div(class="bodyContainer")
            h1="Welcome to Priya's Book Store"
        script(src="/scripts/scripts.js")
            block content

//- <html>

//- <head>
//-     <title>Express Intro</title>
//-     <link href="/styles/styles.css" type="text/css" rel="stylesheet" />
//- </head>

//- <body>
//-     <ul>
//-         <div class="navitem"><a class="active" href="/">Home</a></div>
//-         <div class="navitem"><a href="/books">Books</a></div>
//-         <div class="navitem"><a href="/food">Food</a></div>
//-         <div class="navitem"><a href="/accessories">Accessories</a></div>
//-         <div class="navitem"><a href="/orders">My Orders</a></div>
//-     </ul>
//-     </div class="homebody">
//-     <h1>Welcome to Priya's Book Store</h1>
//-     </div>
//- </body>
//- <script src="/scripts/scripts.js"></script>

//- </html>